<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% @item[:breadcrumb].each do |b| %>
      <li class="breadcrumb-item <%= is_current?(b[:path]) ? "active" : "" %>">
        <% if is_current?(b[:path]) %>
          <%= b[:name] %>
        <% else %>
          <a href="<%= b[:path] %>"><%= b[:name] %></a>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
    <h1 class="display-4 fst-italic"><%= @item[:name] %></h1>
  </div>
</div>

<div class="row mb-2">
  <% children_of(@item).each do |page| %>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <a href="<%= page.path %>" class="stretched-link">
            <h3 class="mb-0"><%= page[:name] %></h3>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
